/*
Colors:

red: #713237 (113, 50, 55);
tan: #744F33 (116, 79, 51);
blue-green: #204844 (32, 72, 68);
green: #31602A (49, 96, 42);
dark red brown: ##271217 (39, 18, 23)

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 600;
}

#content-wrapper {

}

ul{
  display: flex;
  flex-flow: row wrap;

}

li {
  height: 50vh;
  width: 50vw;
  background-color: #713237;
  padding: 10px;
  list-style: none;
  color: white;
}

li>a {
  color: white;
  text-decoration: none;
}

li>a>img {
  margin: 0 10px;
}

#tl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

#tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

#bl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}

#br {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

}

/*main page styles*/







/*
header on main page will take up the whole page and have four quadrants, one for each dev

animation: "Team Johnson" flashes on page load

photos, names/links and brief by-line are clustered near center of page

background of quadrants: ...???
*/
/**/


/*individual page styles*/

/*
header pinned to top
top half of page is preview of project;
photo in the middle (circle!);
bottom half: "about me" section with brief bio, interests, specialties, etc; "links" section with personal site, Twitter, GitHub, etc.

*/
