/*
Colors:

red: #713237 (113, 50, 55);
tan: #744F33 (116, 79, 51);
blue-green: #204844 (32, 72, 68);
green: #31602A (49, 96, 42);
dark red brown: ##271217 (39, 18, 23)

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 600;
}

#content-wrapper {
  background-image: radial-gradient(rgb(235, 229, 229), rgb(200, 196, 196));
}

ul{
  display: flex;
  flex-flow: row wrap;

}

li {
  height: 50vh;
  width: 50vw;
  padding: 10px;
  list-style: none;
  color: white;
  /*border: 1px solid #c69398;*/
}

li>a {
  color: #424242;
  text-decoration: none;
}

li>a>img {
  margin: 0 10px;
  width: 150px;
  height: 150px;
}

#tl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 10px solid #cd7815;
  border-left: 10px solid #cd7815;
  transition: .6s;
}

#tl:hover {
  background-color: rgba(237, 167, 85, 0.47);
  border-top: 25px solid #cd7815;
  border-left: 25px solid #cd7815;
  transition: .5s ease;
  padding: 20px;
}

#tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  border-right: 10px solid #1b4642;
  border-top: 10px solid #1b4642;
  transition: .6s;
}

#tr:hover {
  background-color: rgba(45, 120, 113, 0.52);
  border-right: 25px solid #1b4642;
  border-top: 25px solid #1b4642;
  transition: .5s ease;
  padding: 20px;
}

#bl {
  text-align: right;
  border-bottom: 10px solid rgb(149, 51, 59);
  border-left: 10px solid rgb(149, 51, 59);
  transition: .6s;
}

#bl:hover {
  background-color: rgba(200, 51, 63, 0.51);
  border-bottom: 25px solid rgb(149, 51, 59);
  border-left: 25px solid rgb(149, 51, 59);
  transition: .5s ease;
  padding: 20px;
}

#bl>a>img {
  float: right;
}

#br {
  border-bottom: 10px solid #228c96;
  border-right: 10px solid #228c96;
  transition: .6s;
}

#br:hover {
  background-color: rgba(45, 187, 200, 0.5);
  border-bottom: 25px solid #228c96;
  border-right: 25px solid #228c96;
  transition: .5s ease;
  padding: 20px;
}

#br>a>img {
  float: left;
}

#br:hover {
  transition: .6s;
}


/*main page styles*/







/*
header on main page will take up the whole page and have four quadrants, one for each dev

animation: "Team Johnson" flashes on page load

photos, names/links and brief by-line are clustered near center of page

background of quadrants: ...???
*/
/**/


/*individual page styles*/

/*
header pinned to top
top half of page is preview of project;
photo in the middle (circle!);
bottom half: "about me" section with brief bio, interests, specialties, etc; "links" section with personal site, Twitter, GitHub, etc.

*/
